h1 {
  color:white;
      font-family: 'Gloria Hallelujah', cursive;
      letter-spacing:0.25em;
      word-spacing:0.25em;
      font-size:2em;
}
p {
  letter-spacing: 0.9em;
  color:Gold;
     line-height:0.25em;
      font-family: 'Gloria Hallelujah', cursive;
      word-spacing:0.5em;
}
h3 {
  letter-spacing:0.4em;
  word-spacing:05em;
  color:White;
      font-family: 'Gloria Hallelujah', cursive;

}
