h1 {
  color:seagreen;
      font-family: 'Gloria Hallelujah', cursive;
      letter-spacing:0.9em;
}
p {
  letter-spacing: 0.9em;
  color: rgb( 123, 45, 145);
     line-height:1.95em;
      font-family: 'Gloria Hallelujah', cursive;
}
h3{
  letter-spacing:0.4em;
  word-spacing:05em;
  color:Seagreen;
      font-family: 'Gloria Hallelujah', cursive;

}
