h1 {
  color:seagreen;
  background-color: Beige;

      font-family: 'Gloria Hallelujah', cursive;

}
p {
  color: rgb( 123, 45, 145);

      font-family: 'Gloria Hallelujah', cursive;
}
h3{
  color:Seagreen;
  background-color:Beige;
      font-family: 'Gloria Hallelujah', cursive;

}
